* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #eff8e2;
}

header {
    display: block;

}

.top-banner {
    text-align: center;
    font-size: x-large;
    background-color: #573280;
    color: #23022e;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    height: 40px;
}

.head-flex {
    display: flex;
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.navwrapper {
    text-align: left;
    font-size: x-large;
    background-color: #23022e;
    color: #cecfc7;
    width: 180px;
    height: 220px;
    margin-top: 50px;
    border: 0px solid #23022e;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 5px;
}


.nav-p {
    display: block;
    width: 950px;
    height: 200px;
    border: 0 solid none;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.home-img {
    display:block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid none;
    border-radius: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
}

main {
    background-color: #cecfc7;
    color: #23022e;
    text-align: center;
    width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #573280;
    border-radius: 8px;
    padding: 10px;

}

.pfp {
    width: 300px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 250px;
    border: 1px solid #23022e;
    border-radius: 100%;
}

footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    background-color: #ada8b6;
    color: #23022e;
    padding: 10px;
    margin-bottom: -10px;
}