* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #eff8e2;
}

header {
    display: block;

}

.top-banner {
    text-align: center;
    background-color: #573280;
    color: #23022e;
    margin: 0;
    width: auto;
    height: 30px;
}

.navwrapper {
    position: relative;
    text-align: left;
    background-color: #23022e;
    color: #cecfc7;
    width: 120px;
    margin: 8px;
    border: 0px solid #23022e;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
}


.nav-p {
    display: block;
    width: 800px;
    height: 80px;
    border: 0 solid none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.home-img {
    display:block;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid none;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

main {
    background-color: #cecfc7;
    color: #23022e;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #573280;
    border-radius: 8px;
    padding: 10px;

}

.pfp {
    width: 150px;
    display: block;
    margin-top: 0;
    margin-left: auto;
    border: 1px solid #23022e;
    border-radius: 100%;
}
